.header{
  width: 100%;
  background-color: #FFF;
  display: table;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
.inner{
  width: 1100px;
  margin: auto;
}
.fas.fa-bolt{
  font-size: 3em;
  float: left;
  width: 0;
}
.in-top.in__right{
  background-color: #74cfae;
  color: #FFF;
  float: right;
  text-decoration: none;
  right: 0;
  padding: 14px 12px;
  transition: all 0.3s ease;
}
.in-top.in__right:hover{
  transition: all 0.3s ease;
  color: #333;
}
.title{
  background-color: #f2f2f2;
  display: table;
  padding-bottom: 250px;
  padding-top: 250px;
  width: 100%;
}
h1{
  color: #74cfae;
  font-family: 'Raleway';
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}
h2{
  color: #c0c0c0;
  font-size: 30px;
  font-family: 'Raleway';
  text-align: center;
  margin-top: 20px;
}
.inner.top{
  display: inline-block;
  margin: 20px;
}
.js.iphone{
  color: #fff;
  background-color: #74cfae;
  display: table;
  width: 100%;
}
.iphone.img{
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}
.iphone.text{
  display: table-cell;
  float: left;
  padding-top: 80px;
  padding-left: 100px;
  text-align: center;
}
h3{
  font-size: 25px;
  font-family: 'Raleway';
  width: 650px;
}
.iphone.text__1{
  font-size: 20px;
  font-family: 'Lato';
  line-height: 1.3em;
  padding-top: 35px;
  word-break: break-word;
  width: 650px;
}
.main__top{
  background-color: #f2f2f2;
  display: table;
  padding-top: 60px;
  width: 100%;
}
h4{
  font-size: 24px;
  font-family: 'Raleway';
  text-align: center;
}
.main__picture-img{
  display: table;
}
.main__picture-img.in-top{
  margin-top: 40px;
}
.main__picture-img.in-under{
  margin-top: 80px;
}
.picture-img{
  float: left;
  display: table;
  margin-left: 100px;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.picture-img:hover{
  opacity: 1.0;
  transition: all 0.3s ease;
}
.picture-img:first-child{
  margin-left: 0;
}
.picture-img:nth-child(4n){
  margin-left: 0;
}
.picture-img:nth-of-type(n+4){
  margin-top: 80px;
}
.main__text-under{
  padding: 90px;
  padding-bottom: 70px;
  display: table;
  margin: 0 auto;
}
.text__in-left{
  float: left;
  font-family: 'Lato';
  font-size: 19px;
  line-height: 1.3em;
  text-align: center;
  width: 550px;
}
.text__in-right{
  background-color: #74cfae;
  color: #FFF;
  font-size: 12px;
  float: left;
  font-family: 'Lato';
  margin-left: 90px;
  text-decoration: none;
  padding: 14px 20px;
  transition: all 0.3s ease;
}
.text__in-right:hover{
  transition: all 0.3s ease;
  color: #333;
}
.main__circle-img{
  background-color: #4e4e4e;
  display: table;
  width: 100%;
}
h5{
  color:#FFF;
  font-size: 25px;
  margin-top: 70px;
  text-align: center;
  font-family: 'Raleway';
}
.circle{  
  display: inline-flex;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.circle-img{
  color:#FFF;
  display: inline-block;
  font-size: 16px;
  margin-left: 180px;
  text-align: center;
  width: 185px;
}
.circle-text{
  margin-top: 20px;
  font-family: 'Lato';
}
div .circle-img:first-of-type{
  margin-left: 0;
}
.sns__content{
  background-color: #f2f2f2;
  display: table;
  width: 100%;
}
.sns__content-img{ 
  text-align: center;
  font-size: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sns__content__img{
  background-color: #f2f2f2;
  display: inline-block;
  color: #74cfae;
  padding: 20px 0px;
  font-size: 60px;
  transition: all 0.3s ease;
  width: 185px;
}
.sns__content__img:hover{
  transition: all 0.3s ease;
  background-color: #fff;
}
.footer{
  color: #fff;
  display: table;
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.footer__text{
  float: right;
  font-size: 18px;
  font-family: 'Lato';
}